---
- name: Ensure Homebrew is installed
  community.general.homebrew:
    state: present

- name: Install command line tools
  community.general.homebrew:
    name:
      - starship
      - git
      - fzf
      - fzf-tab
      - tree
      - tldr
      - wget
      - node
      - watch
      - kubectl
      - kubectx
      - helm
      - shellcheck
      - ansible
      - terraform
      - swiftlint
      - swiftformat
      - zsh-history-substring-search
      - zsh-autosuggestions
      - zsh-syntax-highlighting
      - zsh-navigation-tools
      - font-hack-nerd-font
      - font-m+-nerd-font
      - font-profont-nerd-font
      - font-fira-code-nerd-font
      - awscli
      - azure-cli
    state: present

- name: Check if iTerm2 is already installed
  ansible.builtin.stat:
    path: /Applications/iTerm.app
  register: iterm2_app

- name: Install iTerm2 via Homebrew if not present
  community.general.homebrew_cask:
    name: iterm2
    state: present
    install_options: appdir=/Applications
  when: not iterm2_app.stat.exists

- name: Check if Google Chrome is already installed
  ansible.builtin.stat:
    path: /Applications/Google Chrome.app
  register: chrome_app

- name: Install Google Chrome via Homebrew if not present
  community.general.homebrew_cask:
    name: google-chrome
    state: present
    install_options: appdir=/Applications
  when: not chrome_app.stat.exists

- name: Install GUI applications
  community.general.homebrew_cask:
    name:
      - gcloud-cli
      - cursor
      - cursor-cli
      - the-unarchiver
      - docker-desktop
    state: present
    install_options: appdir=/Applications
